
<h2>Blog Post Index</h2>
<ul>
{{#each items}}
  <li>title: {{fields.title}}</li>
  <ul>
    <li>id: {{sys.id}}</li>
    <li>description: {{fields.description}}</li>
    <li>slug: <a href="/template/{{fields.slug}}">{{fields.slug}}</a></li>
  </ul>
{{/each}}

</ul>

