{{#each items}}
  <h3>
    <a href="/{{fields.slug}}"> {{fields.title}} </a>
  </h3>
  <p>
    {{dateFormat sys.createdAt}} |
    {{readTime fields.body}}
  </p>
  <p>
    {{#each fields.tags}}
      {{> tag tag=this}}
    {{/each}}
  </p>
  <p>
    {{fields.description}}
  </p>
  <hr>
{{/each}}
